.letra-titulo {
    font-family: 'Courgette', cursive;
}

.letra-texto {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}
.letra-texto-bold {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 700;
}
